# Never commit Terraform state or sensitive outputs!
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
outputs.json
**/outputs.json
*.outputs.json